<div class = "col-lg-5 mx-lg-auto">
  <div class = "card shadow">
    <div class = "card-header">
      <h2 class = "card-title text-center">Forgot Your Password</h2>
    </div>
    <div class = "card-body">

<%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post, data: {turbo: :false} }) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="form-group">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class:"form-control form-control-lg mt-2 mb-2" %>
  </div>

  <div class="actions">
    <%= f.submit "Send me reset password instructions",class: "btn btn-success mt-2 mb-2" %>
  </div>
<% end %>

<%= render "users/shared/links" %>
</div>
</div>
</div>
