<% if @student.errors.any? %>
<h2 style ="color:red; text-align:center;"><%= pluralize(@student.errors.count, "error") %> prohibited this doctor from being saved:</h2>
<ul>
        <% @student.errors.each do |error| %>
          <li style="font-family:Ubuntu;text-align:center;"><%= error.full_message %></li>
        <% end %>
</ul>
<% end %>

<div id="box">
<h1>ADD NEW STUDENT</h1>
<%= form_for @student do |form| %>
  <label for = "name" id = "heading">Enter Your Name : </label><%= form.text_field "name" %><br><br><br clear = "all">
  <label for = "mobile" id = "heading">Enter Your Mobile No. : </label><%= form.phone_field "mobile"%><br><br><br clear = "all">
  <label for = "dob" id = "heading">Select Your Date of Birth : </label><%= form.date_field("dob") %><br><br><br clear = "all">
  <label for = "city" id = "heading">Select Your City : </label><%= form.select "city" ,[['Gurugram','Gurugram'],['Delhi','Delhi'],['Faridabad','Faridabad'],['Noida','Noida'],['Ghaziabad','Ghaziabad']]%><br><br><br clear = "all">
  <label for = "section" id = "heading">Select Your Section : </label><%= form.select "section_id",[['Eighth','5'],['Ninth','1'],['Tenth','2'],['Eleventh','3'],['Twelfth','4']]%><br><br><br clear = "all">
  <label for = "email" id = "heading">Enter Your Email : </label><%= form.email_field "email" %><br><br><br clear = "all">
  <label for = "gender" id = "heading">Select Your Gender: </label>
  <div class = "gender">
  <%= form.radio_button "gender","male" %>Male
  <%= form.radio_button "gender","female" %>Female
  </div>
  <br><br><br clear="all">
  
  <center><label for = "accept" id = "check"><%= check_box("accept",{checked: true}) %> I have accepted all terms and conditions</center></label><br>
  <center><label for = "confirm" id = "check"><%= check_box("Confirm",{checked: true}) %> I confirm all Information is true</center></label><br>
  
  <br>
  <%= form.submit style:"width:100%;background-color:black;color:white;line-height:50px;padding:5px;font-size:30px;"%><br>
 
<% end %>
</div>