<h2 style = "text-align:center;"><%= @info.name %></h2>
<hr>
<h3 style = "text-align:center;color:blue;">Author Name : <%= @info.author.name %></h3>
<h3 style = "text-align:center;color:blue;">ISBN No. : <%= @info.isbn %></h3>
<h3 style = "text-align:center;color:blue;">Price per Copy : <%= @info.price %></h3>
<h3 style = "text-align:center;color:blue;">Copies : <%= @info.copies %></h3>
