
<p class = "search">
<%= form_with url: "/products/index", method: :get do |search| %>
  <%= search.text_field :name %>
  <%= search.submit "Search" , :class => "button"%>
<% end %>


<p class = "upper_right_links" ><%= link_to "Create Product", "/products/new" %> | <%= link_to "Logout", "/users/logout" %></p>
<br clear= "all"><br clear="all">
<%= flash[:message] %>

<% if @products.count == 0 %>
<%= flash[:alert] %>

<% else %>
<center><h2>All Products</h2></center><clear ="all"><br>
<table id= "products_table">
<tr>
<th>Name</th>
<th>Price</th>
<th>Actions</th>
<tr>
<% @products.each do |product| %>
  <tr>
  <td><%= product.name %></td>
  <td><%= product.price %></td>
  <td><%= link_to "Edit", "products/#{product.id}/edit", :class =>"edit_link" %>
  <%= button_to "Delete", "/products/#{product.id}", :method => :delete, :class =>"delete_button" %>
  </td>
  
  </tr>

<% end %>
</table>
 
<% end %>

<% if @name != nil %>
  <br><br>
  <center><%= button_to "All Products", "/products",:method=>:get, :class=>"all_products_button" %></center>
<% end %>