<p class = "upper_right_links" ><%= link_to "Create Product", "/products/new" %> | <%= link_to "Logout", "/users/logout" %></p>
<br clear= "all"><br clear="all">
<%= flash[:message] %>

<div id = "search">
<p class = "search">
<%= form_with url: "/products/index", method: :get do |search| %>
  <%= search.label :name, "Search By Name", class:"heading" %>
  <%= search.text_field :name %><br><br clear = "all">
  <%= search.label :price, "Search By Price ", class:"heading"  %>
  <%= search.range_field :price,value: 0, :min => 0, :max => 1000, :class => "form-range" %><br><br clear = "all">
  <%= search.submit "Search" , :class => "search_button"%>
<% end %>
</div>

<% if @products.count == 0 and @name != nil and @price != nil%>
  <%= flash[:alert] %>
<% elsif @products.count == 0 %>
  <center><strong>No Products , Please Create New Product <%= link_to "Create Product", "/products/new" %></strong></center>

<% else %>
<center><h2>All Products</h2></center><clear ="all"><br>
<table id= "products_table">
<tr>
<th>Name</th>
<th>Price</th>
<th>Actions</th>
<tr>
<% @products.each do |product| %>
  <tr>
    <td><%= product.name %></td>
    <td><%= product.price %></td>
    <td><%= link_to "Edit", "products/#{product.id}/edit", :class =>"edit_link" %>
      <%= button_to "Delete", "/products/#{product.id}", :method => :delete, :class =>"delete_button" %>
    </td>
  </tr>
<% end %>
</table>
 
<% end %>
<br><br>
<center><%= will_paginate @products %></center>

<% if @name != nil %>
  <br><br>
  <center><%= button_to "All Products", "/products",:method=>:get, :class=>"all_products_button" %></center>
<% end %>
